$body-background-color: $white;
$sidebar-color: $grey-lt-100;
$border-color: $grey-lt-100;

$body-text-color: $grey-dk-250;
$body-heading-color: $grey-dk-250;
$nav-child-link-color: $blue-000;
$search-result-preview-color: $grey-dk-200;

$link-color: $blue-button;
$btn-primary-color: $blue-button; 
$base-button-color: $grey-dk-250;


$search-background-color: $grey-lt-100;

$feedback-color: darken($sidebar-color, 3%);
