:root {
    --serif-font: BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --code-font: monaco, "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.namespace{
    background: rgba(0, 0, 0, 0.027);
}

h2 {
    padding: 5px;
    margin: 0px;
    background: rgba(0, 0, 0, 0.057);
}

.module_type {
    opacity: 70%;
    font-style: italic;
    padding-inline-end: 0.3em;
}

.function_decl {
    display:flex;
    
    font-family: var(--code-font);
    font-size: 80%;
    font-style: normal;
    color: rgb(88, 88, 88);
    white-space: pre;
    margin: 10px;
}

.code_prim{
    color: blue;
}
.code_ident {
    /*background: rgba(0, 0, 0, 0.037);
    display: block;
    overflow-x: auto;
    color: #444444;
    padding: .5em;
    /* padding: 0.5em;
    margin: 0;
    white-space: pre;
    display: block;
    font-style: normal; */
    font-family: var(--code-font);
    /*padding: 5px;*/
    margin: 0;
    }


.function_name{
    color:black;
    font-size: 18;
    font-family: var(--code-font);
    padding: 2px;
    margin: 0;
}

.variables{
    padding: 5px;
    margin: 0;
}

.variable_name,
.variable{
    display:flex;
    font-family: var(--code-font);
    padding: 0;
    padding-left: 1em;
    margin: 0 0 1em 0;  
}