:root {
    --serif-font: BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --code-font: monaco, "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

/*.namespace{
    background: rgba(0, 0, 0, 0.027);
}*/

h2 {
    padding: 5px;
    margin: 0px;
    background: rgba(0, 0, 0, 0.027);
}
.comment{
    border-bottom: 1px solid rgba(0, 0, 0, 0.057);
    color:rgb(88, 88, 88);
}

.module_type {
    opacity: 70%;
    font-style: italic;
    padding-inline-end: 0.3em;
}

.function_decl {
    display:flex;
    font-family: var(--code-font);
    font-size: 80%;
    font-style: normal;
    color: rgb(88, 88, 88);
    white-space: pre;
    margin: 10px;
}

.code_prim{
    color: blue;
}
a {
    text-decoration: none; 
    font-family: var(--code-font);
    margin: 0;
    color:black;
    }
.code,
module,
.code_ident {
    font-family: var(--code-font);
    margin: 0;
    color:black;
    }
.function_name{
    color:black;
    font-size: 18;
    font-family: var(--code-font);
    padding: 2px;
    margin: 0;
}

.variables{
    color: #5c5962;
    padding: 5px;
    margin: 0;
}
.variable_type{
    color: #5c5962;
}
.struct_member,
.struct_name,
.variable_name,
.variable{
    display:flex;
    font-family: var(--code-font);
    padding: 0;
    margin: 0 0 .05em 0;  
}